
 {* reposition the above block after #someOtherBlock *}
<table>
<tr class='batch-info'>
      <td class="label">Batch Number</td>
      <td> {$batch.id}&nbsp;</td>
</tr>
<tr class='batch-info'>
      <td class="label">Batch Name</td>
      <td>{$batch.name}&nbsp;</td>
</tr>
</table>

 <script type="text/javascript">
   cj('.batch-info').insertBefore('.crm-info-panel tr:first');
 </script> 